.footer {
  border-top: 0.2rem solid var(--w-gray);
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: var(--white);

  .footer-text {
    font-size: 1.3rem;
    color: var(--b-gray);
    font-family: var(--poppins);
    letter-spacing: 0.1rem;
  }
}
