.footer {
  /* border: 1px solid; */
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;

  .footer-text {
    font-size: 1.3rem;
    color: var(--b-gray);
    font-family: var(--poppins);
    letter-spacing: 0.1rem;
  }
}
