.header-container {
  /* border: 1px solid; */
  width: 100%;
  border-bottom: 0.2rem solid var(--w-gray);

  .header-wrapper {
    /* border: 1px solid; */
    max-width: 100rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-wrapper {
      .logo-container {
        /* border: 1px solid; */
        padding: 1rem;
        cursor: pointer;

        h3 {
          font-size: 2rem;
          font-family: var(--cinzel);
          color: var(--b-gray);
          letter-spacing: 0.1rem;

          @media screen and (width<=20rem) {
            & {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .icons-wrapper {
      margin-right: 1rem;
      display: flex;
      gap: 2rem;
      align-items: center;

      .switch-mode-container {
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;

        span {
          display: block;
          font-size: 2.5rem;
          color: var(--b-gray);
          line-height: 1rem;

          @media screen and (width<=20rem) {
            & {
              font-size: 1.5rem;
            }
          }
        }
      }

      .logout {
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;

        span {
          display: block;
          font-size: 2.5rem;
          color: var(--b-gray);
          line-height: 1rem;

          @media screen and (width<=20rem) {
            & {
              font-size: 1.5rem;
            }
          }
        }
      }

      .favourites {
        /* border: 1px solid; */
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .fav-icon {
          display: block;
          color: var(--favourite);
          font-size: 2.5rem;
          line-height: 1rem;

          @media screen and (width<=20rem) {
            & {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
