.header-container {
  /* border: 1px solid; */
  width: 100%;
  border-bottom: 0.2rem solid var(--w-gray);

  .header-wrapper {
    /* border: 1px solid; */
    max-width: 100rem;
    margin: 0 auto;

    display: flex;
    align-items: center;

    .logo-container {
      /* border: 1px solid; */
      padding: 1rem;
      cursor: pointer;

      h3 {
        font-size: 2rem;
        font-family: var(--cinzel);
        color: var(--b-gray);
        letter-spacing: 0.1rem;
      }
    }

    .switch-mode-container {
      /* border: 1px solid; */
      margin-left: auto;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;

      span {
        display: block;
        font-size: 2.5rem;
        color: var(--b-gray);
        line-height: 1rem;
      }
    }
  }
}
